<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>UnescoHunt</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/css/styles.css">

  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#options" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <p class="navbar-brand"><a href="/">UNESCOHUNT</a></p>
        <br>
        <!-- <p class="description navbar-brand">A collection of all the books I've read, reviewed and want to read</p> -->
      </div>
      <div class="collapse navbar-collapse" id="options">
        <ul class="nav navbar-nav navbar-right">
          <li class = 'comment' id="home"><a href="/">HOME</a></li>
          <li class = 'comment' id="about"><a href="/about">ABOUT</a></li>
          <li class = 'comment' id="contact"><a href="/contact">CONTACT</a></li>
        </ul>
      </div>
    </div>
  </nav>
  
  <body>
    <div class="container">
