
<%- include("partials/header"); -%>
    

  
<form action = '/' method = 'post'>
    <input type = 'text' name="location" placeholder="enter location">
    <input type="submit">
</form>
 


<%- include("partials/footer"); -%>
