<%- include ("partials/header") %>

<% var records = data.records %>

<% records.forEach(record => {  %>
    <h3><%= record.fields.name_en %></h3>
    <p> <%= record.fields. short_description_en %> </p>
    
<% }); %>

