<%- include ("partials/header") %>

<% var records = data.records %>

<% records.forEach(record => {  %>
    <h3> <a href = '/map'> <%= record.fields.name_en %></a> </h3>
    <p> <%= record.fields. short_description_en %> </p>
    
<% }); %>

